videos
memory_graphs
intermediate_outputs

# Ignore all in data/ except annotations/
data/*
!data/annotations/
!data/annotations/**
__pycache__
idl
speakerlab
models
logs
out*
*.log
data.jsonl
results